
Apex Dungeon/Temp/UnityLockfile
Apex Dungeon/Temp
Apex Dungeon/Builds
Apex Dungeon/Library
Apex Dungeon/SwitchIL2CPPCache
Apex Dungeon/SwitchIL2CPPStats
Apex Dungeon/Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.dll
Apex Dungeon/.vs/Apex Dungeon/FileContentIndex/8384cbfd-8fd4-4516-a8d5-9b00ef43ef59.vsidx
Apex Dungeon/.vs/Apex Dungeon/FileContentIndex/d273770b-dc05-4062-adc0-663f89127f3b.vsidx
Apex Dungeon/Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.dll
Apex Dungeon/Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.pdb
Apex Dungeon/Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.ref.dll
Apex Dungeon/Library/Bee/backend_profiler0.traceevents
Apex Dungeon/Library/Bee/fullprofile.json
Apex Dungeon/Library/Bee/tundra.digestcache
Apex Dungeon/Library/Bee/tundra.log.json
Apex Dungeon/Library/Bee/TundraBuildState.state
Apex Dungeon/Library/Bee/TundraBuildState.state.map
Apex Dungeon/Library/SceneVisibilityState.asset
Apex Dungeon/Library/ScriptAssemblies/Assembly-CSharp.dll
Apex Dungeon/Library/ScriptAssemblies/Assembly-CSharp.pdb
Apex Dungeon/Library/Search/transactions.db
Apex Dungeon/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Apex Dungeon/Library/StateCache/PrefabStageHierarchy/d6/d600f74dfcc8bfce9d120ebab3776a65.json
Apex Dungeon/.vs/Apex Dungeon/FileContentIndex/8384cbfd-8fd4-4516-a8d5-9b00ef43ef59.vsidx
Apex Dungeon/.vs/Apex Dungeon/FileContentIndex/d273770b-dc05-4062-adc0-663f89127f3b.vsidx
Apex Dungeon/Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.dll
Apex Dungeon/Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.pdb
Apex Dungeon/Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.ref.dll
Apex Dungeon/Library/Bee/backend_profiler0.traceevents
Apex Dungeon/Library/Bee/fullprofile.json
Apex Dungeon/Library/Bee/tundra.digestcache
Apex Dungeon/Library/Bee/tundra.log.json
Apex Dungeon/Library/Bee/TundraBuildState.state
Apex Dungeon/Library/Bee/TundraBuildState.state.map
Apex Dungeon/Library/SceneVisibilityState.asset
Apex Dungeon/Library/ScriptAssemblies/Assembly-CSharp.dll
Apex Dungeon/Library/ScriptAssemblies/Assembly-CSharp.pdb
Apex Dungeon/Library/Search/transactions.db
Apex Dungeon/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Apex Dungeon/Library/StateCache/PrefabStageHierarchy/d6/d600f74dfcc8bfce9d120ebab3776a65.json
Apex Dungeon/Library/ArtifactDB
