
Temp/UnityLockfile
Temp
Builds
Library
SwitchIL2CPPCache
SwitchIL2CPPStats
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.dll
.vs/Apex Dungeon/FileContentIndex/8384cbfd-8fd4-4516-a8d5-9b00ef43ef59.vsidx
.vs/Apex Dungeon/FileContentIndex/d273770b-dc05-4062-adc0-663f89127f3b.vsidx
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/PrefabStageHierarchy/d6/d600f74dfcc8bfce9d120ebab3776a65.json
.vs/Apex Dungeon/FileContentIndex/8384cbfd-8fd4-4516-a8d5-9b00ef43ef59.vsidx
.vs/Apex Dungeon/FileContentIndex/d273770b-dc05-4062-adc0-663f89127f3b.vsidx
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1300b0aE.dag/Assembly-CSharp.ref.dll
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/tundra.log.json
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/PrefabStageHierarchy/d6/d600f74dfcc8bfce9d120ebab3776a65.json
Library/ArtifactDB
